{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block content %}


<div class="label-profile text-left"><p>Post</p></div>
    <div>
        <form action="{% url 'post:create'  %}" method="GET">
            <div class="form-group text-center">
                <textarea id="text-post" class="form-control"  rows="3" placeholder="What's up?" name="post" required></textarea>
                <button id="send" type="submit" class="btn btn-success mt-3" disabled>Post</button>
            </div>
        </form>
    </div>
<div class="label-profile text-left my-5"><p>Time line</p></div>

<div class="time-line-profile">
    <!-- Example -->
    {% if post_on_date %}
        {% load static %}
        {% include 'includes/modal.html' %}
        {% for element in post_on_date %}
            <div class="content-target-profile">
                <div >
                    {% if element.owner.profile.img_profile %}
                        <div class="content-img-target-profile mx-auto">
                            <img class="img-target-profile" src="{{element.owner.profile.img_profile.url}}" alt="">
                        </div>
                    {% else %}
                        <div class="content-img-target-profile mx-auto">
                            <img class="img-target-profile" src="{% static 'img/profile-default.jpg' %}" alt="">
                        </div>
                    {% endif %}
                </div>
                <div class="content-p-target-profile mx-auto">
                    <p class="p-name-target-profile">{{element.owner}}: </p>
                    <p class="p-target-profile">"{{element.post_user}}"</p>
                </div>
                {% if request.user == element.owner %}
                    <div class="text-center mt-1">
                        <a onclick="return abrir_modal('{% url 'post:delete' element.id 'news' %}')" class="btn btn-danger" href="#">Delete</a>
                    </div>
                {% endif %}
                <div class="like-dislike-container text-center mt-2">
                    <button class="btn-like-dislike {% if request.user in element.like_post.all %}like_active{% endif %}" id="likebtn_{{element.owner}}_{{element.id}}">
                        <ion-icon name="heart"></ion-icon>
                    </button>
                    <input class="input-like-dislike" type="number" name="" id="input_like_{{element.owner}}_{{element.id}}" value="{{element.total_likes}}" readonly>

                    <button class="btn-like-dislike {% if request.user in element.dislike_post.all %}dislike_active{% endif %}" id="dislikebtn_{{element.owner}}_{{element.id}}"> 
                        <ion-icon name="heart-dislike"></ion-icon>
                    </button>
                    <input class="input-like-dislike" type="number" name="" id="input_dislike_{{element.owner}}_{{element.id}}" value="{{element.total_dislikes}}" readonly>
                </div>
                <script>
                    var likebtn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                    likebtn.addEventListener('click', function(){
                        const url = "{% url 'post:reaction' element.pk 'like' %}";
                        fetch(url,{'credentials':'include'}).then(response => response.json()).then(function(data){
                            var response_reactions = data
                            document.getElementById('input_like_{{element.owner}}_{{element.id}}').value = response_reactions['total_likes'];
                            document.getElementById('input_dislike_{{element.owner}}_{{element.id}}').value = response_reactions['total_dislikes'];
                            
                            like_btn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                            dislike_btn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}')
                            if (response_reactions['liked']){
                                like_btn.classList.add('like_active');
                                dislike_btn.classList.remove('dislike_active')
                                
                            } else {
                                like_btn.classList.remove('like_active')
                            }
                        });
                    });

                    var dislikebtn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}');
                    dislikebtn.addEventListener('click', function(){
                        const url = "{% url 'post:reaction' element.pk 'dislike' %}";
                        fetch(url,{'credentials':'include'}).then(response => response.json()).then(function(data){
                            var response_reactions = data
                            document.getElementById('input_like_{{element.owner}}_{{element.id}}').value = response_reactions['total_likes'];
                            document.getElementById('input_dislike_{{element.owner}}_{{element.id}}').value = response_reactions['total_dislikes'];

                            like_btn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                            dislike_btn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}')

                            if (response_reactions['disliked']){
                                dislike_btn.classList.add('dislike_active')
                                like_btn.classList.remove('like_active')
                                
                            } else {
                                dislike_btn.classList.remove('dislike_active')
                            }
                        
                        })
                    })
                </script>
            </div>
        {% endfor %}
    {% else %}
        <p class="p-no-friends text-center">No posts yet</p>
    {% endif %}
</div>

<script>
    var content = document.getElementById('text-post');
    content.addEventListener('keyup', function(){
        if(!this.checkValidity() || !this.value){
            send.disabled = true;
        } else {
            send.disabled = false;
        }
    })
</script>
{% endblock %}

