{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block content %}

<div class="label-profile text-left"><p>Post</p></div>
    <div>
        <form action="">
            <div class="form-group text-center">
                <textarea class="form-control"  rows="3" placeholder="What's up?"></textarea>
                <button type="submit" class="btn btn-success mt-3" disabled>Post</button>
            </div>
        </form>
    </div>
<div class="label-profile text-left my-5"><p>Time line</p></div>

<div class="time-line-profile">
    <!-- Example -->
    <div class="content-target-profile">
        <div >
            <div class="content-img-target-profile mx-auto">
                <img class="img-target-profile" src="/img/profile-default.jpg" alt="">
            </div>
        </div>
        <div class="content-p-target-profile mx-auto">
            <p class="p-name-target-profile">Luis Halo Master Chif: </p>
            <p class="p-target-profile">"Jueves de Halo"</p>
        </div>
        <div class="like-dislike-container text-center mt-2">
            <button class="btn-like-dislike" id="likebtn">
                <ion-icon name="heart"></ion-icon>
            </button>
            <input class="input-like-dislike" type="number" name="" id="input_like" value="0">

            <button class="btn-like-dislike" id="dislikebtn">
                <ion-icon name="heart-dislike"></ion-icon>
            </button>
            <input class="input-like-dislike" type="number" name="" id="input_dislike" value="0">
        </div>
    </div>
</div>
{% endblock %}