{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}
{% load static %}

{% include 'includes/modal.html' %}
{% include 'core/includes/modal_logout.html' %}

<div class="container-img-profile mx-auto">
    {% if request.user.profile.img_profile %}
        <img class="img-profile" src="{{request.user.profile.img_profile.url}}" alt="">
    {% else %}
        <img class="img-profile" src="{% static 'img/profile-default.jpg'  %}" alt="">
    {% endif %}
</div>
<div class="label-name-profile text-center mt-3"><a href="{% url 'profile' %}" class="edit-profile">Edit</a> - <a class="btn btn-danger" href="{% url 'logout' %}"  data-toggle="modal" data-target="#modal-logout"><ion-icon class="icon-logout" name="log-out"></ion-icon></a></div>
<div class="label-name-profile text-center mt-3"><p>{{request.user.profile.user_name}}</p></div>
<div class="text-center">
    <div class="social-media-profile">
        {% if request.user.profile.sn_github %}
            <a href="{{request.user.profile.sn_github}}" class="social-link-profile github" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-github"></ion-icon></a>
        {% endif %}
        {% if request.user.profile.sn_twitter %}
            <a href="{{request.user.profile.sn_twitter}}" class="social-link-profile twitter" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-twitter"></ion-icon></a>
        {% endif %}
        {% if request.user.profile.sn_youtube %}
            <a href="{{request.user.profile.sn_youtube}}" class="social-link-profile youtube" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-youtube"></ion-icon></a>
        {% endif %}
    </div>
</div>
<div class="label-profile text-left mt-5"><p>Intro</p></div>
<div class="section-profile text-center">
    {% if request.user.profile.intro %}
        <p class="p-info-profile">"{{request.user.profile.intro}}"</p>
    {% else %}
        <p class="p-info-profile-default">Nothing</p>
    {% endif %}
</div>
<div class="label-profile text-left mt-5"><p>Post</p></div>
    <div>
        <!-- <style>label{display: none;}</style> -->
        <form action="{% url 'post:create'  %}" method="GET">
            {% csrf_token %}
            <div class="form-group text-center">
                <textarea id="text-post" class='form-control' rows="3" placeholder="What's up?" name="post"></textarea>
                <button id="send" type="submit" class="btn btn-success mt-3" disabled>Post</button>
            </div>
        </form>
    </div>
<div class="label-profile text-left mt-5"><p>Time line</p></div>
<div class="time-line-profile">
    {% if posts %}
        {% for element in posts %}
            <div class="content-target-profile">
                <div >
                    <div class="content-img-target-profile mx-auto">
                        {% if request.user.profile.img_profile %}
                            <img class="img-target-profile" src="{{request.user.profile.img_profile.url}}" alt="">
                        {% else %}
                            <img class="img-target-profile" src="{% static 'img/profile-default.jpg' %}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="content-p-target-profile mx-auto">
                    <p class="p-name-target-profile">{{element.owner}}: </p>
                    <p class="p-target-profile">"{{element.post_user}}"</p>
                </div>
                <div class="text-center mt-1">
                    <a onclick="return abrir_modal('{% url 'post:delete' element.id 'profile' %}')" class="btn btn-danger" href="#">Delete</a>
                </div>
                <div class="like-dislike-container text-center mt-2">
                    <button class="btn-like-dislike {% if request.user in element.like_post.all %}like_active{% endif %}" id="likebtn_{{element.owner}}_{{element.id}}">
                        <ion-icon name="heart"></ion-icon>
                        <p id='prueba'></p>
                    </button>
                    <input class="input-like-dislike" type="number" name="" id="input_like_{{element.owner}}_{{element.id}}" value="{{element.total_likes}}" readonly>

                    <button class="btn-like-dislike {% if request.user in element.dislike_post.all %}dislike_active{% endif %}" id="dislikebtn_{{element.owner}}_{{element.id}}"> 
                        <ion-icon name="heart-dislike"></ion-icon>
                    </button>
                    <input class="input-like-dislike" type="number" name="" id="input_dislike_{{element.owner}}_{{element.id}}" value="{{element.total_dislikes}}" readonly>
                </div>
                <script>
                    var likebtn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                    likebtn.addEventListener('click', function(){
                        const url = "{% url 'post:reaction' element.pk 'like' %}";
                        fetch(url,{'credentials':'include'}).then(response => response.json()).then(function(data){
                            var response_reactions = data
                            document.getElementById('input_like_{{element.owner}}_{{element.id}}').value = response_reactions['total_likes'];
                            document.getElementById('input_dislike_{{element.owner}}_{{element.id}}').value = response_reactions['total_dislikes'];

                            like_btn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                            dislike_btn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}')
                            
                            if (response_reactions['liked']){
                                like_btn.classList.add('like_active');
                                dislike_btn.classList.remove('dislike_active')
                                
                            } else {
                                like_btn.classList.remove('like_active')
                            }
                        });
                    });

                    var dislikebtn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}');
                    dislikebtn.addEventListener('click', function(){
                        const url = "{% url 'post:reaction' element.pk 'dislike' %}";
                        fetch(url,{'credentials':'include'}).then(response => response.json()).then(function(data){
                            var response_reactions = data
                            document.getElementById('input_like_{{element.owner}}_{{element.id}}').value = response_reactions['total_likes'];
                            document.getElementById('input_dislike_{{element.owner}}_{{element.id}}').value = response_reactions['total_dislikes'];
                            
                            like_btn = document.getElementById('likebtn_{{element.owner}}_{{element.id}}');
                            dislike_btn = document.getElementById('dislikebtn_{{element.owner}}_{{element.id}}')

                            if (response_reactions['disliked']){
                                dislike_btn.classList.add('dislike_active')
                                like_btn.classList.remove('like_active')
                                
                            } else {
                                dislike_btn.classList.remove('dislike_active')
                            }
                        })
                    })

                </script>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <p class="p-no-posts">No posts yet</p>
        </div>
    {% endif %}

</div>

<script>
    var content = document.getElementById('text-post');
    content.addEventListener('keyup', function(){
        if(!this.checkValidity() || !this.value){
            send.disabled = true;
        } else {
            send.disabled = false;
        }
    })
</script>
{% endblock %}