{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}
{% load static %}
<div class="container-img-profile mx-auto">
    {% if request.user.profile.img_profile %}
        <img class="img-profile" src="{{request.user.profile.img_profile.url}}" alt="">
    {% else %}
        <img class="img-profile" src="{% static 'img/profile-default.jpg'  %}" alt="">
    {% endif %}
</div>
<div class="label-name-profile text-center mt-3"><a href="{% url 'profile' %}" class="edit-profile">Edit</a></div>
<div class="label-name-profile text-center mt-3"><p>Gustavo Alonso Pacheco Mex</p></div>
<div class="text-center">
    <div class="social-media-profile">
        {% if request.user.profile.sn_github %}
            <a href="{{request.user.profile.sn_github}}" class="social-link-profile github" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-github"></ion-icon></a>
        {% endif %}
        {% if request.user.profile.sn_twitter %}
            <a href="{{request.user.profile.sn_twitter}}" class="social-link-profile twitter" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-twitter"></ion-icon></a>
        {% endif %}
        {% if request.user.profile.sn_youtube %}
            <a href="{{request.user.profile.sn_youtube}}" class="social-link-profile youtube" target="_blank"><ion-icon class="social-icon-profile mx-1 mx-md-2" name="logo-youtube"></ion-icon></a>
        {% endif %}
    </div>
</div>
<div class="label-profile text-left mt-5"><p>Intro</p></div>
<div class="section-profile text-center">
    {% if request.user.profile.intro %}
        <p class="p-info-profile">"{{request.user.profile.intro}}"</p>
    {% else %}
        <p class="p-info-profile-default">Ésta persona aun no tiene configurado su intro</p>
    {% endif %}
</div>
<div class="label-profile text-left mt-5"><p>Post</p></div>
    <div>
        <!-- <style>label{display: none;}</style> -->
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                {{form.as_p}}
                <button type="submit" class="btn btn-success mt-3">Post</button>
            </div>
        </form>
    </div>
<div class="label-profile text-left mt-5"><p>Time line</p></div>
<div class="time-line-profile">
    {% for element in posts %}
        <div class="content-target-profile">
            <div >
                <div class="content-img-target-profile mx-auto">
                    <img class="img-target-profile" src="{{request.user.profile.img_profile.url}}" alt="">
                </div>
            </div>
            <div class="content-p-target-profile mx-auto">
                <p class="p-name-target-profile">Gustavo Alonso Pacheco Mex: </p>
                <p class="p-target-profile">"{{element.post_user}}"</p>
            </div>
            <div class="like-dislike-container text-center mt-2">
                <button class="btn-like-dislike" id="likebtn">
                    <ion-icon name="heart"></ion-icon>
                </button>
                <input class="input-like-dislike" type="number" name="" id="input_like" value="{{element.like_post}}">

                <button class="btn-like-dislike" id="dislikebtn">
                    <ion-icon name="heart-dislike"></ion-icon>
                </button>
                <input class="input-like-dislike" type="number" name="" id="input_dislike" value="{{element.dislike_post}}">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}