{% extends 'base.html' %}

{% block title %}Request List{% endblock %}

{% block content %}

{% include 'friends/includes/modal.html' %}

<div class="content-friends-list">
    <div class="label-profile text-left"><p>Block List</div>
    {% load static %}
    {% if blocks %}
        {% for element in blocks %}
            <div class="mt-5">
                <div class="mb-5 row">
                    {% if element.receiver.img_profile %}
                        <div class="col-12 col-lg-3 text-center">
                            <img class="img-friends-body" src="{{element.receiver.img_profile.url}}" alt="">
                        </div>
                    {% else %}
                        <div class="col-12 col-lg-3 text-center">
                            <img class="img-friends-body" src="{% static '/img/profile-default.jpg' %}" alt="">
                        </div>
                    {% endif %}
                    <div class="col-12 col-lg-9 content-friends-actions">
                        <p class="p-friends-body ">{{element.receiver.user_name}}</p>
                        <div class="friends-action-body d-md-inline">
                            <a class="friends-action messages-icon" onclick="return abrir_modal('{% url 'friends:unblock_user' element.receiver.user_name %}')"  href="#" >Unblock</a>
                        </div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <p class="p-no-friends text-center">No requests yet</p>
    {% endif %}
</div>
{% endblock %}