{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}


<div class="elements-container-friends text-center row">
    <div class="col-lg-5">
        <form action="{% url 'friends:search_friend' %}"  class="input-group mb-3">
            <div class="input-group-prepend mx-1">
                <button class="btn btn-outline-secondary" type="submit"><ion-icon name="search"></ion-icon></button>
            </div>
            <input type="search" class="form-control fc-friends" placeholder="Search in list" name="search_friend" aria-describedby="basic-addon1" required>
        </form>
    </div>

    <div class="col-lg-5">
        <form  action="{% url 'friends:search' %}" method="GET" class="input-group mb-3">
            <input type="search" class="form-control fc-friends" placeholder="Search friend" name="search" aria-describedby="basic-addon1" required>
            <div class="input-group-prepend mx-1">
                <button class="btn btn-outline-secondary" type="submit"><ion-icon name="person-add"></ion-icon></button>
            </div>
        </form>
    </div>
    
    <div class="col-lg-2">
        <a class="btn btn-danger" href="/blocks_template.html">Blocking</a>
    </div>
</div>


<div class="content-friends-list">
    <div class="label-profile text-left mt-5"><p>List | <a class="friends-links  list-request" href="{% url 'friends:request_list' %}">Requests {% if num_requests %}({{num_requests}}) {% endif %} </a> | <a class="friends-links  list-blocks" href="{% url 'friends:block_list' %}">Block</a></p></div>
    {% load static %}
    
    {% if request.user.profile.get_friends %}
        
        {% include 'friends/includes/modal.html' %}

        {% for element in request.user.profile.get_friends %}
            <div class="mt-5">
                <div class="mb-5 row">
                    {% if element.profile.img_profile %}
                        <div class="col-12 col-lg-6 content-img-list-friends">
                            <img class="img-friends-body" src="{{element.profile.img_profile.url}}" alt="">
                        </div>
                    {% else %}
                        <div class="col-12 col-lg-6 content-img-list-friends">
                            <img class="img-friends-body" src="{% static '/img/profile-default.jpg' %}" alt="">
                        </div>
                    {% endif %}
                    <div class="col-12 col-lg-6 content-list-friends">
                        <div class="mb-3">
                            <a class="link-friends-body" href="{% url 'friends:profile' element.profile.friend_user_code  %}">{{element.profile.user_name}}</a>
                        </div>
                        <div class="friends-action-body d-md-inline">
                            <a class="friends-action messages-icon"  href="#" ><ion-icon name="mail" ></ion-icon></a>
                            <a class="friends-action delete-icon"  onclick="return abrir_modal('{% url 'friends:delete_friend' element.profile.user_name %}')"  href="#"><ion-icon name="trash"></ion-icon></a>
                            <a class="friends-action block-icon" onclick="return abrir_modal('{% url 'friends:block_user' element.profile.user_name %}')"  href="#"><ion-icon name="eye-off"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <p class="p-no-friends text-center">No friends yet</p>
    {% endif %}
</div>
{% endblock %}