<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove friend</h5>
        </div>

        <div class="modal-body">
            <form role="form" action="{% url 'friends:delete_friend' friend_name %}" method="post"  class="form-inline">

                {% csrf_token %} 

                <div class="text-center col-12">
                   <p>Remove {{friend_name}}?</p>
                </div>

                <div class="modal-footer mx-auto">
                    <button type="submit" class="btn btn-success">Crear</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>