{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}
<div class="elements-container-friends text-center row">
    <div class="col-lg-5">
        <form action="{% url 'friends:search_friend' %}"  class="input-group mb-3">
            <div class="input-group-prepend mx-1">
                <button class="btn btn-outline-secondary" type="submit"><ion-icon name="search"></ion-icon></button>
            </div>
            <input type="search" class="form-control fc-friends" placeholder="Search in list" name="search_friend" aria-describedby="basic-addon1" required>
        </form>
    </div>

    <div class="col-lg-5">
        <form  action="{% url 'friends:search' %}" method="GET" class="input-group mb-3">
            <input type="search" class="form-control fc-friends" placeholder="Search friend" name="search" aria-describedby="basic-addon1" required>
            <div class="input-group-prepend mx-1">
                <button class="btn btn-outline-secondary" type="submit"><ion-icon name="person-add"></ion-icon></button>
            </div>
        </form>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-danger" href="/blocks_template.html">Blocking</a>
    </div>
</div>


<div class="content-friends-list">
    <div class="label-profile text-left mt-5"><p>Search result</p></div>
    {% if list_results == 'no results' %}
        <p class="p-no-friends text-center">We didn't find any results</p>
    {% else %}
        {% load static %}
        {% for field in list_results %}
            <div class="mt-5">
                <div class="mb-5 row">
                    {% if field.img_profile %}
                        <div class="col-12 col-lg-3 text-center">
                            <img class="img-friends-body" src="{{field.img_profile.url}}" alt="">
                        </div>
                    {% else %}
                        <div class="col-12 col-lg-3 text-center">
                            <img class="img-friends-body" src="{% static '/img/profile-default.jpg' %}" alt="">
                        </div>
                    {% endif %}
                    <div class="col-12 col-lg-9 content-friends-actions mt-4">
                        <a class="link-friends-body" href="{% url 'friends:profile' field.friend_user_code %}">{{field.user_name}}</a>
                    </div>
                </div>
            </div> 
        {% endfor %}
    {% endif %}
</div>

{% endblock %}