<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add friend</h5>
        </div>

        <div class="modal-body">
            <form role="form" action="{% url 'friends:request_send' username_request  %}" method="post"  class="form-inline">

                {% csrf_token %} 

                <div class="text-center col-12">
                   <p>add {{username_request}}?</p>
                </div>

                <div class="modal-footer mx-auto">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>